<div class="numeric-keyboard">
  <button
    (click)="keyboardEmitter.emit(i + 1)"
    *ngFor="let _ of [].constructor(9); let i = index"
    theme="SECONDARY"
    class="numeric-keyboard__element"
  >
    <span class="text-h1">{{ i + 1 }}</span>
  </button>

  <button
    class="numeric-keyboard__element"
    (click)="confirmPinCodeEmitter.emit()"
  >
    <i class="pi pi-check" style="color: #6c6"></i>
  </button>

  <button
    (click)="keyboardEmitter.emit(0)"
    theme="SECONDARY"
    class="numeric-keyboard__element"
  >
    <span class="text-h1">{{ 0 }}</span>
  </button>

  <button
    type="submit"
    theme="PRIMARY"
    class="numeric-keyboard__element"
    (click)="removeLastDigitEmitter.emit()"
  >
    <i class="pi pi-times" style="color: #f04438"></i>
  </button>
</div>
