$blue: #0032a1

.logo-container 
    padding-top: 1rem
    display: inline-block
    text-align: center

.logo
  position: relative
  width: 420px
  height: 270px
  background-color: white
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
  display: flex
  justify-content: center
  align-items: center

  &__text
    color: $blue
    font-size: 3.75rem
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 3px

.subtitle
    display: inline-block
    font-size: 1.5rem
    letter-spacing: 25px
    color: white
    border-top: 2px solid white
    border-bottom: 2px solid white
    padding: 4px
