@use 'assets/styles/variables' as variables
@use 'assets/styles/mixins' as mixins

.logo-container 
    padding-top: 1rem
    @include mixins.flexCenter(column)
    text-align: center

.logo
  position: relative
  width: 300px
  height: 180px
  background-color: variables.$white
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)
  display: flex
  justify-content: center
  align-items: center

  &__text
    color: variables.$blue
    font-size: 2.75rem
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 3px

.subtitle
    display: inline-block
    font-size: 1.25rem
    letter-spacing: 22px
    color: variables.$white
    border-top: 2px solid variables.$white
    border-bottom: 2px solid variables.$white
    padding: 4px
