<ng-container *ngIf="userBalance$ | async as balance">
  <ng-container *ngIf="!!balance">
    <div class="container">
      <app-header>Your balace: {{ balance }}$</app-header>

      <app-logout-button class="container__logout-btn" />

      <div class="btn-container">
        <p-button
          [routerLink]="['/dashboard']"
          [raised]="true"
          severity="secondary"
        >
          <div class="btn-title">Back</div>
        </p-button>
      </div>
    </div>
  </ng-container>
</ng-container>
