.container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-top: 8rem
    gap: 2rem

    .btn-container
        display: flex
        justify-content: center
        gap: 4rem

        .btn-title
            font-size: 1.75rem
            letter-spacing: 1px
    