<section class="login-page">
  <app-header>Enter your PIN</app-header>

  <form [formGroup]="form">
    <p-password
      type="number"
      variant="outlined"
      size="large"
      formControlName="pinCode"
      placeholder="Enter PIN"
      [toggleMask]="true"
      [feedback]="false"
      class="input"
      onlyNumbers
    />

    <div class="errors-container">
      @if (form.controls['pinCode'].invalid && (form.controls['pinCode'].dirty))
      {
      <app-input-error-message
        *ngIf="form.controls['pinCode'].errors?.['required']"
        >PIN is required.</app-input-error-message
      >
      <app-input-error-message
        *ngIf="form.controls['pinCode'].errors?.['pattern']"
        >PIN must contain only digits 0-9.</app-input-error-message
      >
      <app-input-error-message
        *ngIf="
        form.controls['pinCode'].errors?.['minlength'] ||
        form.controls['pinCode'].errors?.['maxlength']
      "
        >PIN must be exactly 4 digits.</app-input-error-message
      >
      }

      <p class="errors-container__error-message" *ngIf="isLocked$ | async">
        Password input is locked. Please wait
        {{ lockCounter$ | async }} seconds.
      </p>
    </div>

    <app-numeric-keyboard
      [disabled]="!!(isLocked$ | async)"
      (keyboardEmitter)="updatePinCodeFormControl($event)"
      (removeLastDigitEmitter)="removeLastDigit()"
      (confirmPinCodeEmitter)="login()"
    ></app-numeric-keyboard>
  </form>
</section>
