@use 'assets/styles/mixins' as mixins

.login-page
    margin: 0 auto
    @include mixins.flexCenter(column)

    form
        @include mixins.flexCenter(column)

        .errors-container
            padding-top: 0.25rem
            height: 50px
            @include mixins.flexCenter(column)
    .input 
        margin: 0 auto
