@use 'assets/styles/mixins' as mixins

.withdraw-page
    margin: 0 auto
    @include mixins.flexCenter(column)

    &__logout-btn
        position: absolute
        top: 1.5rem
        right: 1.5rem

    .grid-container 
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 0.5rem
    
        form
            display: flex
            flex-direction: column
        
        .col-span-2
            grid-column: span 2 / span 2
            @include mixins.flexCenter(column)
        
        .btns
            @include mixins.flexJustify(end)
        

    .input 
        margin: 0 auto
    
    .errors-container
        padding-top: 0.5rem
        display: flex
        flex-direction: column
        align-items: center
        height: 50px

    .btn-container
        padding-top: 1.5rem
        @include mixins.flexCenter(row)
        gap: 2rem
    