@use 'assets/styles/variables' as variables
@use 'assets/styles/mixins' as mixins

.container
    padding: 2rem 1rem
    display: flex
    flex-direction: column
    align-items: center
    justify-center: center
    overflow: auto

    .subtitle 
        font-color: variables.$white
        font-size: 1.25rem
        font-weight: 200
        letter-spacing: 1.75px
        text-align: center
        max-width: 600px
        line-height: 2.25rem

    .btn-container
        padding-top: 2rem
        display: flex
        align-items: center
        justify-center: center

    .btns-container 
        width: 100%
        margin: 0 auto
        @include mixins.flexCenter(row)
        gap: 4rem

.btn-title
    font-size: 1.75rem
    letter-spacing: 1px