@use "primeicons/primeicons.css"
@use 'assets/styles/toast' as toast
@use 'assets/styles/mixins' as mixins
@use 'assets/styles/variables' as variables

body
    background: variables.$white
    font-family: Roboto, 'Helvetica Neue', sans-serif
    box-sizing: border-box
    width: 100vw
    height: 100vh
    @include mixins.center-content

