<ng-container *ngIf="{ user: user$ | async } as vm">
  <ng-container *ngIf="!!vm.user">
    <section class="dashboard">
      <app-header>{{
        "Hello " + vm.user.first_name + " " + vm.user.last_name + "!"
      }}</app-header>

      <div class="credit-card-container">
        <app-credit-card [user]="vm.user"></app-credit-card>
      </div>

      <div class="btns-container">
        <p-button
          [raised]="true"
          severity="secondary"
          [routerLink]="['/balance']"
          size="large"
        >
          <div class="btn-title">Balance</div>
        </p-button>

        <p-button
          [raised]="true"
          severity="secondary"
          (onClick)="navigateToWithdraw(vm.user.account_balance)"
          size="large"
        >
          <div class="btn-title">Withdraw</div>
        </p-button>
      </div>
    </section>
  </ng-container>
</ng-container>

<app-logout-button />
