.dashboard
    padding: 3rem

    .header
        letter-spacing: 2px
        padding-bottom: 2rem

    .credit-card-container
        

    .btns-container 
        width: 100%
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center
        gap: 4rem
