<ng-container *ngIf="{ user: user$ | async } as vm">
  <ng-container *ngIf="!!vm.user">
    <section class="dashboard">
      <app-header>{{
        "Hello " + vm.user.first_name + " " + vm.user.last_name + "!"
      }}</app-header>
      <div class="credit-card-container">
        <app-credit-card [user]="vm.user"></app-credit-card>
      </div>

      <div class="btns-container">
        <p-button>
          <a [routerLink]="['/balance']">Balance</a>
        </p-button>

        <p-button><a [routerLink]="['/withdraw']">Withdraw</a></p-button>
      </div>
    </section>
  </ng-container>
</ng-container>

<app-logout-button />
